body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: aliceblue;
    
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding: 15px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

header.shadow{
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: .5s;
}

header.shadow .logo{
    color: var(--text-color);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
}

.logo span{
    color: #007BFF;
}

.nav-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-page a{
    color: #099de2;
}

/* Main Styles */
main {
    padding: 20px;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.hidden {
    display: none;
}
.article-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.article-image img {
    width: 100%;
    height: 450px;
    display: block;
}
.article-content {
    padding: 16px;
}
.read-more {
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
}

.article-date {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.article-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.article-excerpt {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.read-more {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    transition: color 0.3s;
}

.read-more:hover {
    color: #0056b3;
}

/* Footer Styles */
footer {
    background: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 0 0 10px 10px;
}

footer p {
    margin: 0;
}