/* Base Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #e2e3e8, #f3f4f7);
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background: linear-gradient(to right, #8e44ad, #3498db);
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
}

nav {
    position: relative;
}

.nav-menu {
    position: relative;
}

.nav-toggle {
    background: none;
    border: none;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

#navMenu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

#navMenu.show {
    display: block;
}

#navMenu li {
    list-style: none;
}

#navMenu li a {
    display: block;
    padding: 10px 20px;
    color: #007BFF;
    transition: background 0.3s, color 0.3s;
}

#navMenu li a:hover {
    background: #007BFF;
    color: white;
}

/* Main Styles */
main {
    margin: 20px 0;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-detail p {
    margin: 10px 0;
}

.post-detail p strong {
    display: inline-block;
    width: 100px;
    color: #0056b3;
}

.post-image {
    margin: 20px 0;
}

.post-image img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-action {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-blue {
    background-color: #007BFF;
    color: white;
}

.btn-blue:hover {
    background-color: #0056b3;
}

/* Toggle Styles for Small Screens */
.nav-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-menu ul {
        display: none;
        flex-direction: column;
    }

    .nav-menu ul.show {
        display: flex;
    }

    .nav-toggle {
        display: block;
    }
}

/* Footer Styles */
footer {
    background: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 0 0 10px 10px;
}

footer p {
    margin: 0;
}
